@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-btn {
  padding: 14px 36px;
  background: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(56, 189, 248, 0.5);
}


h1 {
  animation: testMove 1s ease infinite alternate;
}

@keyframes testMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30px);
  }
}
